*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
body{
    background-color: #1A1B1E;
    border: 1px solid white;
}
#showicon{
    display: none;
}
#showiconmedium{
    display: none;
}
.main-container{
    padding-inline: 20px;
    padding-block: 40px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   color: white;
}

.left-side-main-con{
    width: 17%;
  height: 100vh;
   background-color: #2E3033;
    padding-inline: 1.5%;
    padding-top: 20px;
   border-radius: 14px;
   padding-bottom: 50px;
    transition: 1s ease-in;
    position: sticky;
    top: 0px;
}
.end-side-main-con{
    width: 22%;
    height: 100vh;
    position: sticky;
    padding-bottom: 50px;
    top: 0px;
}
.first-block ul{
    margin-top: 20px;
}
.first-block ul li{
    height: 37px;
   width: 165px;
    line-height: 40px;
    font-size: 14px;
    list-style-type: none;
    border-radius: 6px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.left-icon i{
    color: white;
    margin-right: 12px;
    margin-left: 15px;
}

li:hover{
    background-color: white;
    color: black;
}
li:hover .left-icon i{
    color: black;
}
li:hover .linka{
    color: black;
}

.h{
   margin-top: 25px;
  position: relative;
  right: 11%;
  width: 121%;
}

.firstline{
    padding-top: 10px;
    display: flex;
}
.first-block p{
    font-size: 13px;
    color: grey;
}
.firstline i{
    font-size: 20px;
}
.firstline h3{
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
   /* color: green; */
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-shadow: 0px 0px 15px black;
}

.Plus{
    width: 140px;
    border-radius: 20px;
    border: 1px solid rgb(130, 129, 129);
    margin-top: 20px;
    color: #4890FE;
    padding-inline: 15px;
    height: 32px;
    align-content: center;
    font-size: 15px;
}
.Plus i{
    color: #4890FE;
    font-size: 14px;
}

.backto{
    position: relative;
    top: 200px;
    display: flex;
}
.backto i{
    font-size: 13px;
    margin-top: 15.5px;
    color: #4890FE;
}
.backto p{
    font-size: 12.5px;
    color: white;
    margin-left: 5px;
}

.one-last p{
    color: white;
}

.last{
    position: relative;
    top: 150px;
    display: flex;
    align-items: center;
}
.last i{
    font-size: 14px;
    margin-right: 10px;
}
.last p{
    margin-bottom: 14px;
    font-size: 14px;
}
    .center-side-main-con{
        width: 58%;
    }

.header{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}    

.icon-text{
    display: flex;
}
.icon-text i{
    font-size: 24px;
    color: grey;
}
.icon-text p{
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}
.inputs{
    background-color: #2E3033;
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: 45px;
}
.inputs input{
    background-color: transparent;
    width: 90%;
    border: none;
    outline: none;
    align-content: center;
    padding-left: 15px;
    color: white;
}
.inputs i{
    width: 45px;
    height: 100%;
    color: white;
    position: relative;
    left: 30.5px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
}

.second-col-change{
    padding-top: 20px;
}
.second-main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 35px;
    align-items: center;
}

.sp{
    background-color: #eeeef0;
  color: #4890FE; 
  padding: 2px;
  padding-inline: 10px;
  border-radius: 10px;   
}

.tables-print{
    margin-top: 30px;
    padding-inline: 20px;
    border-radius: 10px;
    background-color: #2E3033;
    padding-bottom: 30px;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.act,.act i{
    background-color: white;
    color: black;
}

tr{
    border-bottom: 0.65px solid white;
    text-align: center;
    line-height: 52px;
}
td{
    font-size: 13px;
}

th{
    font-size: 15px;
    font-weight: bold;
    color: rgb(168, 165, 165);
}

.purple{
    display: inline;
    padding: 6.5px;
    padding-inline: 28px;
    border-radius: 5px;
    background-color: #F8B917;
    color: black;
}
.green{
    display: inline;
   padding: 6.5px;
   padding-inline: 18px;
    border-radius: 5px;
    background-color: #daf8f2;
    background-color: #3FB8A9;
   color: #daf9f6;
}
.red{
    display: inline;
   padding: 6.5px;
   padding-inline: 29px;
        border-radius: 5px;
    background-color: #FA5757;
    color:#e5dcdc;
}

.li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.name{
    box-shadow:  0px 0px 2px rgb(151, 230, 120);
}

td button{
    border: none;
    outline: none;
}


.banner-dash-image{
    margin-top: 20px;
    width: 100%;
    height: 327px;
}
.banner-dash-image img{
    width: 100%;
    height: 100%;
}


.end-first-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.end-first-row h3{
    width: 170px;
    padding-inline: 9px;
    font-size: 14px;
    padding-block: 15px;
    align-self: center;
    border-radius: 10px;
    background-color: #2E3033;
}
.end-first-row i{
    width: 45px;
    border-radius: 12px;
    height: 45px;
    text-align: center;
  align-content: center;
  font-size: 19px;
    background-color: #2E3033;
}
.end-first-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.end-last-row{
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
.end-last-row img{
    width: 100%;
    height: 100%;
}
.linka{
    color: white;
    text-decoration: none;
}

.firstline img{
    width: 100px;
    /* background-size: cover; */
}

#showicon{
    color: white;
}
.last{
    display: none;
    position: relative;
    /* z-index: 1; */
}


@media (min-width: 1030px) and (max-width: 1200px){
    .end-first-row h3{
        width: 132px;
        font-size: 12px;
        padding-inline: 5px;
    }
    .end-first-row i{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .end-first-row img {
        width: 35px;
        height: 35px;
    }
    .left-side-main-con{
        padding-inline: 1%;
    }
    .first-block ul li{
        width: 130px;
        /* height: 30px; */
        font-size: 15px;
    }
    .Right-text{
        position: relative;
        right: 8px;
    }
    tr{
        line-height: 45px;
        font-size: 14px;
    }
    .red {
        padding-inline: 15px;
    }  
        .purple {
            padding-inline: 18px;
        }
        .green{
            padding-inline: 10px;
        }
        td{
            font-size: 10px;
        }

}

 @media(max-width : 1029px){
   .Right-text{
   display: none;
}
 .act, .act {
    background-color: transparent;
    color: white;
}
.firstline h3{
    display: none;
}
.first-block ul{
    position: relative;
    right: 12px;
}.ad, .co{
    display: none;
}
.left-side-main-con{
    width: 5.5%;
    border-radius: 30px;
    height: auto;
    position: static;
}
.center-side-main-con {
    width: 90%;
}
.main-container{
    width: 100%;
     flex-wrap: wrap;
    justify-content: space-between 
}
.end-side-main-con{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.end-last-row{
    display: none;
}

.inputs i {
   margin-right: 5%;
}
.firstremove{
    display: none;
}
.last{
    display: block;
}
.last{
    width: 40%;
    height: 100%;
    top: 50px;
    
}
.end-first-row{
    display: none;
}
} 

@media (max-width: 790px){ 
    .main-container{
        padding-inline: 0px;
    }
    .inputs{
        width: 80%;
        margin: auto;
    }
    .inputs i{
        margin-right: 10%;
    }
    
}

@media (max-width:792px) {
    .left-side-main-con{
        display: none !important;
    }
    #showicon{
        display: block !important;
        position: relative;
        left: 15px;
        top: 20px;
    }
  .center-side-main-con{
    width: 100%;
    font-size: 8px;
  }
  td{
    font-size: 7px;
    width: auto;
  }
  .show{
    display: block !important;
  }
  .hide{
    display: none !important;
  }
 
}

@media(max-width:494px){
    td{
        font-size: 5px;
        width: auto;
      }
      th{
        font-size: 11px !important;
      }
      .red{
        padding-inline: 13px;
      }
      .green{
        padding-inline: 9px;
      }
      .purple{
       padding-inline: 14px;
      }
      tr{
        line-height: 30px;
      }
      .inputs{
        height: 30px;
      }
      .inputs input{
        font-size: 10px;
      }
}